<form
  class="login-form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <h1 class="h1 mb60">Вход</h1>

  <label class="tt-control-label mb16">
    Telegram username
    <input
      formControlName="username"
      class="tt-input"
      type="text"
      placeholder="Введите логин">
  </label>

  <label class="tt-control-label mb32">
    Пароль
    <div class="password-input">
      <input
        formControlName="password"
        class="tt-input"
        [type]="isPasswordVisible() ? 'text' : 'password'"
        placeholder="Введите пароль"
      >

      <button
        class="password-eye-btn"
        [class.active]="isPasswordVisible()"
        (click)="isPasswordVisible.set(!isPasswordVisible())">
        <app-icon
          iconId="eye"
          class="password-eye-icon"
        />
      </button>
    </div>
  </label>

  <button
    class="btn btn-shadow"
    type="submit"
  >Войти</button>
</form>

<img
  class="login-logo"
  src="assets/svg/logo-big.svg"
  alt="logo"
>
