@import 'fonts';
@import 'margins';

:root {
  --dark-color: #000;
  --light-color: #FFF;
  --primary-color: #AE7AFF;
  --grey-color: #5F646D;
  --light-transparent: #FFFFFFBF;
  --dark-hover-color: #161616;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'JetBrains Mono', sans-serif;
  background: var(--dark-color) url(/assets/images/bg.png) center/cover no-repeat;
  color: var(--light-color);
}

.hidden {
  display: none;
}

.skill-tag {
  padding: 0 8px;
  border-radius: 4px;
  border: 1px solid var(--light-color);
  font-size: 12px;
  font-weight: 700;
  display: inline;
  line-height: 24px;
  height: 24px;
}

.btn {
  border: none;
  background: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  border-right: 1px solid var(--dark-color);
}

.btn-shadow {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: -4px;
    right: -4px;
    background: var(--grey-color);
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 4px;
  }
}

.h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.subtitle {
  font-size: 14px;
  line-height: 20px;
}

.tt-control-label {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  display: block;
}

.tt-input {
  margin-top: 8px;
  width: 100%;
  display: block;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  padding: 12px 20px;
  background: var(--dark-color);
  font-size: 14px;
  line-height: 21px;
  font-family: 'JetBrains Mono', sans-serif;
  color: var(--light-color);
}

.medium-text {
  font-family: 'JetBrains Mono', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
